.checkout-card-component {
  // section header
  & &__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
  }

  & &__desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }

  // section main upper
  & &__product-title {
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
  }

  & &__product-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
  }

  & &__product-price {
    font-size: 18px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
  }

  & &__per-month-annotation {
    font-size: 12px;
    font-weight: 400;
    line-height: 13px;
    letter-spacing: 0em;
  }

  // section main lower
  & &__summary-line {
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
  }

  & &__total-line {
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
  }

  & &__total-price {
    font-weight: 700;
  }
}
