.checkout-card-component {
  // section header
  & &__title {
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-xl);
    line-height: 35px;
    letter-spacing: 0em;
  }

  & &__desc {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    line-height: 18px;
    letter-spacing: 0em;

    opacity: var(--less-opacity);
  }

  // section main upper

  & &__product-image-container {
    --product-cover-size: 80px;

    width: var(--product-cover-size);
    height: var(--product-cover-size);
    background-color: var(--color-content-200);
    border-radius: var(--border-radius-s);
    padding: 20px;
  }

  & &__product-title {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-l);
    line-height: 20px;
    letter-spacing: 0em;
  }

  & &__product-desc {
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-s);
    line-height: 15px;
    letter-spacing: 0em;

    opacity: var(--less-opacity);
  }

  & &__product-price {
    font-size: var(--font-size-m);
    font-weight: var(--font-weight-s);
    line-height: 20px;
    letter-spacing: 0em;
  }

  & &__per-month-annotation {
    font-size: var(--font-size-xxs);
    font-weight: var(--font-weight-s);
    line-height: 13px;
    letter-spacing: 0em;

    opacity: var(--less-opacity);
  }

  // section main lower
  & &__summary-line {
    font-size: var(--font-size-s);
    font-weight: var(--font-weight-s);
    line-height: 18px;
    letter-spacing: 0em;
  }

  & &__summary-title {
    opacity: var(--less-opacity);
  }

  & &__total-line {
    font-size: var(--font-size-l);
    font-weight: var(--font-weight-m);
    line-height: 26px;
    letter-spacing: 0em;
  }

  & &__total-price {
    font-weight: var(--font-weight-xl);
  }
}
