button {
  cursor: pointer;
  display: block;
  width: 100%;
  height: 54px;
  border: none;
  padding-block: 17px;
  border: 1px solid transparent;
  border-radius: var(--border-radius-l);

  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  transition: 0.2s;

  &:disabled {
    opacity: 0.5;

    &:hover {
      cursor: not-allowed;
    }
  }
}

.btn-primary {
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--primary-color-dark);
  }

  &:active {
    background-color: var(--color-green-900);
  }

  & &__loader {
    display: none;
  }

  &[data-loading="1"] {
    &:hover {
      background-color: var(--primary-color);
    }

    .btn-primary__text {
      display: none;
    }

    .btn-primary__loader {
      height: 100%;
      display: block;
    }
  }
}

.btn-secondary {
  background: transparent;
  color: var(--color-content-500);
  border: 1px solid var(--color-content-500);

  margin-top: 12px;

  &:hover {
    color: var(--color-content-700);
    border: 1px solid var(--color-content-700);
  }

  &:active {
    color: var(--color-content-900);
    border: 1px solid var(--color-content-900);
  }

  & &__loader {
    display: none;
  }

  &[data-loading="1"] {
    background: var(--color-background-700);

    .btn-secondary__text {
      display: none;
    }

    .btn-secondary__loader {
      height: 100%;
      display: block;
    }
  }
}
