:root {
  --primary-color: var(--color-green-500);
  --primary-color-dark: var(--color-green-700);
  --primary-color-light: var(--color-green-300);
}

:root {
  // Colors
  --color-green-100: #d1f2d4;
  --color-green-200: #b2eab7;
  --color-green-300: #93e19a;
  --color-green-400: #7cda84;
  --color-green-500: #65d46e;
  --color-green-600: #5dcf66;
  --color-green-700: #53c95b;
  --color-green-800: #49c351;
  --color-green-900: #37b93f;

  --color-background-100: #fafafa;
  --color-background-200: #f7f7f7;
  --color-background-300: #f4f4f4;
  --color-background-400: #f1f1f1;
  --color-background-500: #efefef;
  --color-background-600: #ededed;
  --color-background-700: #ebebeb;
  --color-background-800: #e8e8e8;
  --color-background-900: #e4e4e4;

  --color-content-100: #efefef;
  --color-content-200: #e4e4e4;
  --color-content-300: #d9d9d9;
  --color-content-400: #d1d1d1;
  --color-content-500: #c9c9c9;
  --color-content-600: #c3c3c3;
  --color-content-700: #bcbcbc;
  --color-content-800: #b5b5b5;
  --color-content-900: #a9a9a9;

  --less-opacity: 50%;

  // Roundings
  --border-radius-l: 60px;
  --border-radius-m: 24px;
  --border-radius-s: 16px;

  // Fonts
  --font-size-xl: 32px;
  --font-size-l: 24px;
  --font-size-m: 18px;
  --font-size-s: 16px;
  --font-size-xs: 14px;
  --font-size-xxs: 12px;

  --font-weight-xl: 700;
  --font-weight-l: 600;
  --font-weight-m: 500;
  --font-weight-s: 400;
}
